<h1>Rock, Paper, Scissors</h1>

<form action="/game" method="post">
	<input type="text" id="p1_name" name="p1_name" placeholder="Enter your name">
	<input type="submit" id="play" name="play" value="Play">
</form>